<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @movie.poster.url(:medium) %>
		<div class='star-rating' data-score=<%= @avg_rating %>></div>
		<em><%= "#{@reviews.size} reviews" %></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @movie.description %></td>
              </tr>
              <tr>
                <td><strong>Movie length:</strong></td>
                <td><%= @movie.duration %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie.director %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @movie.rating %></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @movie.title %></h1>

        <% if @reviews.blank? %>
          <h3>No reviews just yet. Would you like to add the first?</h3>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.comment %></p>
            </div>
          <% end %>
        <% end %>
		<%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-primary" %>
      </div>
	  
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-10">
    <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-primary' %>
	<%= link_to "Back", movies_path, class: "btn btn-secondary" %>
  </div>
</div>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
