<p id="notice"><%= notice %></p>

<%= image_tag @movie.poster.url(:medium) %>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<div class="form-group row">
  <div class="col-sm-10">
    <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-primary' %>
	  <%= link_to "Back", movies_path, class: "btn btn-secondary" %>
  </div>
</div>